/newman-report/
/test-report/newman/
*.newman.report.json
*.newman.report.html

.env
local.postman_environment.json

/stand/logs/
*.har

node_modules/

__pycache__/
*.pyc
.pytest_cache/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

plan.txt
v/